certifi==2026.6.17
cffi==2.0.0
charset-normalizer==3.4.7
colorama==0.4.6
comtypes==1.4.16
idna==3.18
linkify-it-py==2.1.0
markdown-it-py==4.2.0
mdit-py-plugins==0.6.1
mdurl==0.1.2
numpy==2.5.0
platformdirs==4.10.0
pycparser==3.0
Pygments==2.20.0
pypiwin32==223
pyttsx3==2.99
pywin32==312
requests==2.34.2
rich==15.0.0
scipy==1.18.0
sounddevice==0.5.5
srt==3.5.3
textual==8.2.7
tqdm==4.68.3
typing_extensions==4.15.0
uc-micro-py==2.0.0
urllib3==2.7.0
vosk==0.3.45
websockets==16.0
